<h3>What is GoalSheet?</h3>
<p> Think of a timesheet that logs time spent on a project or projects each day.
  Now combine that with target goals for the time and frequency of each project.
  That's GoalSheet.
  Easily set goals for the day, for the week, or somewhere in between. See at a glance what goals have been achieved and how much time has been spent for each.
</p>
