

th, td {
  padding: 0 15px;
  text-align: center;
}

.table-align-left {
  text-align: left;
}

/* copy the bootstrap anchor color to cue user this is clickable (for non-anchors) */
.anchor-like {
  color: #337ab7;  
}

.anchor-like:hover {
  text-decoration: underline;
  cursor: pointer;
}